 
<!doctype html>
<html>
  <head>
      <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/css.css" rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" />

    <script src="js/shared/angular.min.js"></script>
  </head>
  <body ng-app="myApp">
  
    <div class="header">
      <div class="container">
        <h1>Login</h1>
      </div>
    </div>

    <div class="main" ng-controller="AdminController">
      <div class="container">
          <div class="commentbox">
              <h2>Block:</h2>
              <form ng-submit="block(username)">
                  <p>Username:
                      <input type="text" name="username" ng-model="username" /></p>
                  <input type="submit" value="Submit" />
              </form>
          </div>
        
      </div>
    </div>


    <!-- Modules -->
    <script src="js/app.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/AdminController.js"></script>
  </body>
</html>
