
<!doctype html>
<html>
  <head>
    {% load staticfiles %}
    <link href="{% static "taptapNews/css/bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "taptapNews/css/css.css" %}" rel='stylesheet' type='text/css'>
    <link href="{% static "taptapNews/css/main.css" %}" rel="stylesheet" />
    <script src="{% static "taptapNews/js/shared/angular.min.js" %}" ></script>
  </head>
   {% verbatim %}
  <body ng-app="myApp">

    <div class="header">
      <div class="container">
        <h1>Login</h1>
      </div>
    </div>

    <div class="main" ng-controller="LoginController">
      <div class="container">
          <div class="commentbox">
              <h2>Login:</h2>

              <div id="errors">{{ ResponseDetails }}</div>
              <form ng-submit="login(username,password)">
                  <p>Username:
                      <input type="text" name="username" ng-model="username" /></p>
                  <p>Password:
                      <input type="password" name="password" ng-model="password" /></p>
                  <input type="submit" value="Submit" />
              </form>
          </div>

      </div>
    </div>

 {% endverbatim %}
    <script src="{% static "taptapNews/js/app.js" %}"></script>
    <!-- Controllers -->
    <script src="{% static "taptapNews/js/controllers/LoginController.js" %}"></script>
  </body>
</html>
